{%- if product.metafields.countdown != empty -%}

<div class="ht-product-countdown-wrap">
  <div class="ht-product-countdown" data-countdown="{{ product.metafields.countdown.date }}"></div>
</div>

{%- elsif product.description contains '[countdown]' -%}

  {%- assign count_down_first = product.description | split:'[/countdown]' | first -%}
  {%- assign count_down_final = count_down_first | split:'[countdown]' | last -%}
  <div class="ht-product-countdown-wrap">
    <div class="ht-product-countdown" data-countdown="{{ count_down_final }}"></div>
  </div>

{%- endif -%}
